{% extends 'home/common/base.html' %}

{% load static %}


{% block titulo %}
    pantalla1
{% endblock titulo %}


{% block cuerpo %}
    <h1>aqui va el contenido 1</h1>
    <div class="grid-x">
        <div class="cell callout success">
            <h5>This is a callout</h5>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti iste ea voluptates voluptatibus, illo dignissimos eum quia magnam impedit error? Voluptatem, ad nostrum culpa alias obcaecati nam adipisci quae laborum!</p>
            <a href="#">It's dangerous togo alone, take this</a>

        </div>
    </div>
{% endblock cuerpo %}
    
    