{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    
    <title>{% block title %}{% endblock title %}</title>
    
        
    

    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">

</head>
<body>
     
    {% block content %}
        
    {% endblock content %}
    

    <!-- antigua forma vs la nueva --->
    {% comment %} <script src="js/vendor/jquery.js"></script> {% endcomment %}
    <script src="{% static 'js/vendor/jquery.js' %}"></script>
    {% comment %} <script src="js/vendor/what-input.js"></script> {% endcomment %}
    <script src="{% static 'js/vendor/what-input.js' %}"></script>
    {% comment %} <script src="js/vendor/foundation.min.js"></script> {% endcomment %}
    <script src="{% static 'js/vendor/foundation.min.js' %}"></script>
    <script>
      $(document).foundation();
    </script>

</body>
</html>