<!-- Herencia de todo el cuerpo html-->
{% extends 'base.html' %}

<!-- Es necesario -->
{% block content %} 
    
<!--Inclui la navegacion en una pagina distinta
    IMPORTANTE
    Esta debe ir dentro de un bloque content 
-->
{% include 'includes/header.html' %}
    
<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Lista Empleados</h1>
        <div class="cell grid-x grid-margin-x">
            <div class="cell large-7">
                <input type="text" name="" id="" placeholder="Buscar empleado">
            </div>
                <!--button de foundation -->
            <div class="cell large-2">
                    <button class="submit success button">Buscar</button>
            </div>            
        </div>
        <div class="cell ">

            <h1>Lista de todos los empleados</h1>

            <ul>
            {% comment %} podemos acceder de esta manera {% endcomment %}
            
            {% comment %} {{lista}} {% endcomment %}
            {% comment %} {{object_list}} {% endcomment %}
            {% for e in object_list %}
            <ul>
                <li>{{e}}</li>
            </ul>
            {% endfor %}
            </ul>

        </div>
    </div>



    
    
</div>



{% endblock content %}