<!-- Herencia de todo el cuerpo html-->
{% extends 'base.html' %}

<!-- Es necesario -->
{% block content %} 
    
<!--Inclui la navegacion en una pagina distinta
    IMPORTANTE
    Esta debe ir dentro de un bloque content 
-->
{% include 'includes/header.html' %}
    
<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Lista Empleados</h1>
        <div class="cell grid-x grid-margin-x">
            <div class="cell large-7">
                <input type="text" name="" id="" placeholder="Buscar empleado">
            </div>
                <!--button de foundation -->
            <div class="cell large-2">
                    <button class="submit success button">Buscar</button>
            </div>            
        </div>
        <div class="cell ">

            <table>
                <thead>
                  <tr>
                    <th width="200">ID</th>
                    <th width="200">Nombres</th>
                    <th width="200">Apellidos</th>
                    <th width="200">Departamentos</th>
                    <th width="200">Accion</th>
                  </tr>
                </thead>
                <tbody>
                    {% for e in object_list %}
                  <tr>
                    <td>{{e.id}}</td>
                    <td>{{e.firts_name}}</td>
                    <td>{{e.last_name}}</td>
                    <td>{{e.departamento_fk}}</td>                    
                  </tr>
                  {% endfor %}
                  
                </tbody>
              </table>




            <h1>Lista de todos los empleados</h1>

            <ul>
            {% comment %} podemos acceder de esta manera {% endcomment %}
            
            {% comment %} {{lista}} {% endcomment %}
            {% comment %} {{object_list}} {% endcomment %}
            
            <ul>
                <li>{{e}}</li>
            </ul>
            
            </ul>

        </div>
    </div>



    
    
</div>



{% endblock content %}