<!-- Herencia de todo el cuerpo html-->
{% extends 'base.html' %}

<!-- Es necesario -->
{% block content %} 
    
<!--Inclui la navegacion en una pagina distinta
    IMPORTANTE
    Esta debe ir dentro de un bloque content 
-->
{% include 'includes/header.html' %}
    
<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Administrar Personas</h1>
        
        <div class="cell ">

            <table>
                <thead>
                  <tr>
                    <th width="200">ID</th>
                    <th width="200">Nombres</th>
                    <th width="200">Apellidos</th>
                    <th width="200">Departamentos</th>
                    <th width="200">Accion</th>
                  </tr>
                </thead>
                <tbody>
                    {% for e in object_list %}
                  <tr>
                    <td>{{e.id}}</td>
                    <td>{{e.firts_name}}</td>
                    <td>{{e.last_name}}</td>
                    <td>{{e.departamento_fk}}</td>  
                    <td>
                      <a class="button sucess" href="{% url 'persona_app:empleados-update' e.id%}">Editar</a>
                      <a class="button alert" href="{% url 'persona_app:delete' e.id%}">Eliminar</a>
                       
                    </td>                  
                  </tr>
                    {% endfor %}
                  
                </tbody>
              </table>

          
        </div>

        <div class="cell"> <!--Pagination-->
          
          {% if is_paginated %}
          <nav aria-label="Pagination">
            <ul class="pagination">

              <!--Si tiene elementos atras muestra esto-->
              {% if page_obj.has_previous %}

              <li class="pagination-previous disabled">
                
                <a href="?page={{page_obj.previous_page_number}}" aria-label="Page 2">Atras</a>
              </li>

              {% endif %}
              <!--Con esto de aca obtengo el numero de paginas que tiene mi paginacion-->
              {% for pagina in paginator.page_range %}

               {% if pagina %}
                  {% if  pagina == page_obj.number %}    
                  {% comment %} Si el numero de pagina actual es igual a uno de los botones pintados en pantalla hagale hover de color azul a ese boton en especifico  {% endcomment %}
                  <li class="current"><span class="show-for-sr">You're on page</span>{{pagina}}</li>                 
                  {% else %}
                  {% comment %} Este codigo lo que hace es se pinten todas las botones en navegacion de la paginacion  {% endcomment %}
                  <li>
                    <a href="?page={{pagina}}" aria-label="Page 2">{{pagina}}</a>
                  </li>
                  {% endif %}
                {% else %}
                
                {% endif %} 
                

             

              {% endfor %}              
              

<!--Si no existe pagina Siguiente no la considere-->
              {% if page_obj.has_next %}
              <li class="pagination-next">
                <a href="?page={{page_obj.next_page_number}}">Siguiente</a>
              </li>
              {% endif %}
            </ul>
          </nav>
          {% endif %}
            
         

        </div> <!--End Pagination-->
    </div>



    
    
</div>



{% endblock content %}