{% extends 'base.html' %}


{% block title %}
    Actualizar empleado
{% endblock title %}


{% block content %}
{% include 'includes/header.html' %}



<div class="grid-container">
    <div class="grid-x">
        <h1>Actualizar</h1>
        <div class="cell">
            <form class="grid-x grid-margin-x" method="post"> {% csrf_token %}

                    <div class="large-6 cell">
                        <label>Nombre:
                            {{form.firts_name}}
                        {% comment %} <input type="text" placeholder=".medium-6.cell"> {% endcomment %}
                        </label>
                    </div>

                    <div class="large-6 cell">
                        <label>Apellido:
                            {{form.last_name}}                        
                        </label>
                    </div>

                    <div class="large-6 cell">
                        <label>Trabajo:
                            {{form.job}}                        
                        </label>
                    </div>

                    <div class="large-6 cell">
                        <label>Departamento:
                            {{form.departamento_fk}}  
                        </label>

                    </div>

                    {% comment %} <div class="large-6 cell">
                         </label>
                        <label>Imagen:
                            {{form.avatar}}  
                        </label>
                    </div>                       {% endcomment %}
                        
                    <div class="large-6 cell">
                        <label>Habilidad:
                            {{form.habilidad}}                        
                        </label>                        
                    </div>

                    <div class="cell">
                        <button class="button success" type="submit ">Actualizar</button>
                    </div>
                
            </form>
        </div>
        
    </div>

</div>


{% endblock content %}
    
    

{% comment %} <h1>Actualizar</h1>
    <form method="post"> {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Actualizar</button>
    </form> {% endcomment %}