{% extends 'base.html' %}


{% block title %}
    Actualizar empleado
{% endblock title %}


{% block content %}
{% include 'includes/header.html' %}



<div class="grid-container">
    <div class="grid-x">
        <h1>Actualizar</h1>
        <div class="cell">
            <form class="grid-x" method="post"> {% csrf_token %}

                <div class="large-6 cell">
                        <label>Nombres:
                            {{form.firts_name}}
                        {% comment %} <input type="text" placeholder=".medium-6.cell"> {% endcomment %}
                        </label>
                    </div>
                <button class="button success" type="submit ">Actualizar</button>
            </form>
        </div>
        
    </div>

</div>


{% endblock content %}
    
    

{% comment %} <h1>Actualizar</h1>
    <form method="post"> {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Actualizar</button>
    </form> {% endcomment %}